@import "tailwindcss";

@theme {
  /* Mendefinisikan font sebagai CSS Custom Property */
  --font-sans: "League Spartan", sans-serif; /* Pastikan ada kutip jika nama font punya spasi */
  --font-pixel: "Press Start 2P", monospace; /* Ini adalah perbaikan utamanya */

  /* Mendefinisikan warna sebagai CSS Custom Property */
  --color-blue-custom: #94a3b8;
}

@variant dark (&:where(.dark, .dark *));


@layer base {
  body {
    @apply bg-slate-50 dark:bg-slate-800 text-slate-900 dark:text-slate-100 font-sans transition-colors duration-300;
  }

  /* Hide default scrollbar but keep scroll functionality */
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
  
  * {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
  }
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  animation: scroll 40s linear infinite;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: translateY(0);
}

.line-clamp-3 {
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.cursor-zoom-in {
  cursor: zoom-in;
}

.cursor-zoom-out {
  cursor: zoom-out;
}