@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700&display=swap');

body {
  background: #0f172a;
  font-family: 'League Spartan', sans-serif;
}

.text-blue-custom{
  color: #94a3b8;
}
/* .background-orangecustom{
  background-color: #CB0404;
}
.text-orangecustom2{
  color: #F4631E;
}
.text-orangecustom3{
  color: #FF9F00;
} */